h1 {
  color: goldenrod;
}
body {
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/011/635/825/small/abstract-square-interface-modern-background-concept-fingerprint-digital-scanning-visual-security-system-authentication-login-vector.jpg);
  background-size: repeat;
}
div {
  color: goldenrod;
}

#emailHelp {
  color: goldenrod;
}
